RewriteBase /
#RewriteMap lowercase int:tolower
#AllowEncodedSlashes On

# Deny any Urls for /application
RedirectMatch 404 ^/application(/?|/.*)$

# Don't serve anything ending in .ini
<FilesMatch "[^\.]+\.ini">
	Order allow,deny
	Deny from all
	Satisfy All
</FilesMatch>

# WWW Routes

# POST Routes
RewriteCond %{REQUEST_METHOD} ^POST [NC]
RewriteRule .* error.php [L]

# GET Routes
RewriteCond %{REQUEST_METHOD} ^GET [NC]
RewriteRule ^$ /index.php [L]
RewriteRule ^signup/complete/?$ /signup-success.php [L]
RewriteRule ^signup/?$ /signup-form.php [L]
RewriteRule ^login/?$ /login-form.php [L]
RewriteRule ^logout/?$ /logout.php [L]

