RewriteBase /
#RewriteMap lowercase int:tolower
#AllowEncodedSlashes On


#RedirectMatch 404 ^/application(/?|/.*)$

<FilesMatch "[^\.]+\.ini">
	Order allow,deny
	Deny from all
	Satisfy All
</FilesMatch>

# WWW Routes
# GET Routes
RewriteCond %{REQUEST_METHOD} ^GET [NC]
RewriteRule ^$ /index.php [L]
RewriteRule ^signup/complete/?$ /signup-success.php [L]
RewriteRule ^signup/?$ /signup-form.php [L]
RewriteRule ^login/?$ /login-form.php [L]
RewriteRule ^logout/?$ /logout.php [L]

# POST Routes
RewriteCond %{REQUEST_METHOD} ^POST [NC]